<head>
  <script>
			(function(obj)
			{
				ue.game = {};
				ue.game.callevent = function(name, ...args)
				{
					if (typeof name != "string") {
						return;
					}

					if (args.length == 0) {
						obj.callevent(name, "")
					}
					else {
						let params = []
						for (let i = 0; i < args.length; i++) {
							params[i] = args[i];
						}
						obj.callevent(name, JSON.stringify(params));
					}
				};
			})(ue.game);
			CallEvent = ue.game.callevent;
	</script>


  <script src="http://asset/onsetuitest/client/jquery-3.4.1.min.js"></script>
  <script src="http://asset/onsetuitest/client/ui.js"></script>
  <script src="http://asset/onsetuitest/client/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://asset/onsetuitest/client/bootstrap.min.css">
</head>
<body>
<h1>rwsender's first time writing Lua</h1>

<form>
  <div class="form-group">
    <label for="first">Input 1:</label>
    <input type="text" class="form-control" id="first">
  </div>
  <div class="form-group">
    <label for="second">Input 2:</label>
    <input type="text" class="form-control" id="second">
  </div>
  <button type="button" class="btn btn-default" id="TestDialogSubmit">Submit</button>
</form>

</body>
